*.o
*.moc
*.pyc
*.svg
*.xml
*.gz
*.bz2
*.htm
*.html
*.qch
*.qhc
*.old
*.ttf
.~lock*
*.kate-swp
*~
.directory
perf.data
gmon.out
Debug/**
Release/**
build/**
.clang/**
.codelite/**
.settings/**
CMakeFiles/**
CMakeCache.txt
cmake_install.cmake
tmp/**
res/data/*
res/doc/**
res/icons/*
!res/icons/brillouin3d.svg
!res/icons/unitcell3d.svg
!res/icons/brillouin.svg
!res/icons/ellipses.svg
!res/icons/goto.svg
!res/icons/q.svg
!res/icons/takin.svg
!res/.dir
res/fonts/**
!res/icons/.dir
!res/data/.dir
!res/doc/.dir
!res/fonts/.dir
!res/conf/tools.xml
.DS_Store
