# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc
*.class

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!libs/tl2jl.dylib
!tools/test/jl/tl2jl.dylib
!tools/test/jl/tl2jl.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# External libraries and resources
ext/**
plugins/**
data/**
res/**

# Temporary files
tmp/**
build/**
tools/structfact/build/**
tools/cif2xml/build/**
tools/magstructfact/build/**
tools/magsgbrowser/build/**
tools/pol/build/**
tools/moldyn/build/**
tools/scanbrowser/build/**
tools/setup/build/**
*.pyc
.DS_Store
*.csv

# Temporary lexer/parser files
cliparser_impl.*
clilexer_impl.*
stack.hh

# Temporary tex files
*.log
*.aux
*.pdf
*.synctex.*
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
