# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
tests/jl/*.dat
!tests/jl/tl2_jl.so
!tests/jl/tl2_jl.dylib
!tests/py/_tl2_py.so
!tests/py/_tl2_py.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
tmp/**
!tmp/.dir
build/**
script/build/**
tests/build/**
*.pyc
.DS_Store
*.csv
tests/py/__pycache__/**

# Temporary tex files
*.log
*.aux
*.pdf
*.synctex.*
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk

# LLVM intermediate files
*.asm
*.s
*.bc

ext/**

