<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>			<string>Takin</string>
	<key>CFBundleDisplayName</key>		<string>Takin</string>
	<key>CFBundleIdentifier</key>		<string>eu.ill.cs.takin.modpy</string>
	<key>CFBundleVersion</key>		<string>2.5.1</string>
	<key>CFBundleShortVersionString</key>	<string>2.5.1</string>

	<key>CFBundleSupportedPlatforms</key>	<array> <string>MacOSX</string> </array>
	<key>LSMinimumSystemVersion</key>	<string>10.13</string>
</dict>
</plist>

<!--
	This Info.plist has to be linked to the external tool binaries as section "__TEXT" -> "__info_plist".
-->
